* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 8vh;
  background-color: #FFE1E1;
  padding: 10px 0;
}


.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  cursor: pointer;
  font-size: 20px;
  height: 24px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 0 0;
  background-color: #90A17D;
}

.card {
  flex: 0 0 25rem;
  margin: 2px 4px 2px 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
}

h2 {
  margin: 0;
  font-size: 18px;
}

.text{
  height: 25vh;
  background-color: #90A17D;
}


.button-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  width: 100px;
  margin: 4px 10px 0px 10px;
  border-radius: 15px;
  border-top-color: #90A17D;
  border-bottom-color: #FFE1E1;
  outline: none;
}

.result {
  text-align: center;
  margin-top: 20px;
}

.result h2 {
  font-size: 24px;
  margin: 10px 0;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #EEEEEE;
  padding: 20px 0;
  text-align: center;
  margin-top: 6px;
}

.footer h2 {
  font-size: 16px;
  margin: 0;
}


@media (max-width: 768px) {

  .navbar-content {
    flex-direction: column;
    align-items: center;
  }

  .navbar-brand {
    margin-right: 0;
    margin-bottom: 4px;
    font-size: 15px;
  }

  .main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    flex: 0 0 calc(50% - 8px);
    margin: 10px 4px;
  }

  .text{
    height: 30vh;
  }

  .result h2 {
    font-size: 20px;
  }

  .footer h2 {
    font-size: 14px;
  }

}